*{
  padding: 0;
  margin: 0;
}

body {
  background: url('fonn.jpg');

  color: #fff;
}

header h1 {
  text-align: center;
  margin: 30px;
  text-transform: uppercase;
  font-size: 60px;
}
header li {
  display: inline-block;
  margin-top: 10px;


}
header ul {
  text-align: center;
  vertical-align: middle;
}
header a {
  text-decoration: none;
  margin: 10px;
}
nav {
  background: #dadada;
  height: 40px;
  padding: 0;
}
.equipment p {
  width: 56%;
}
.equipment img {
  width: 56%;
  margin-left: 20px;
  opacity: 0.9;
  border-radius: 10px;
}

h2 {
  margin: 20px;
  font-size: 30px;
  text-transform: uppercase;
}
p {
  margin: 20px;
  text-align: justify;

}
.zagrqvane p {
  width: 58%;
  text-align: justify;
}
.zagrqvane img {
  width: 108px;
  margin-left: 20px;
  box-shadow: 10px 10px 5px #888;
  border-radius:10px;
  border:  5px solid #ff0000;
  transition: width 1s;
}
.zagrqvane img:hover {
width: 140px;
}
.Razpuskane img:hover {
  width: 140px;
}
.Razpuskane img {
  width: 108px;
  margin-left: 20px;
  box-shadow: 10px 10px 5px #888;
  border-radius: 10px;
  border:  5px solid #ff0000;
  transition: width 1s;
}
.Razpuskane p {
  width: 26%;
  text-align: justify;

}
footer {
  background: #dadada;
  color: #000;
  text-align: center;
padding-top: 20px;
margin-top: 20px;
  height: 40px;

}
footer li {
  display: inline-block;
  padding-left: 10px;
}
footer a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 20px;
  transition: font-size 0.5s;
}
footer a:hover {
font-size: 22px;
}
